/* Стили для сайта */
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

.login-form {
    margin-bottom: 20px;
}

#главнаяСтраница {
    margin-top: 20px;
}

#страницаДобавленияСтатьи {
    margin-top: 20px;
}

#страницаПрофиля {
    margin-top: 20px;
}

